Source: libusb-1.0
Section: libs
Priority: optional
Maintainer: Aurelien Jarno <aurel32@debian.org>
Build-Depends: debhelper-compat (= 13),
               libudev-dev [linux-any],
               libumockdev-dev [linux-any] <!nocheck>,
               pkgconf,
               umockdev [linux-any] <!nocheck>
Build-Depends-Indep: doxygen
Standards-Version: 4.7.2
Rules-Requires-Root: no
Homepage: http://www.libusb.info
Vcs-Git: https://salsa.debian.org/aurel32/libusb-1.0.git
Vcs-Browser: https://salsa.debian.org/aurel32/libusb-1.0

Package: libusb-1.0-0
Section: libs
Architecture: hurd-any linux-any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: userspace USB programming library
 Library for programming USB applications without the knowledge
 of Linux kernel internals.
 .
 This package contains what you need to run programs that use this
 library.

Package: libusb-1.0-0-dev
Section: libdevel
Architecture: hurd-any linux-any
Multi-Arch: same
Depends: libusb-1.0-0 (= ${binary:Version}), ${misc:Depends}
Recommends: libusb-1.0-doc
Description: userspace USB programming library development files
 Library for programming USB applications without the knowledge
 of Linux kernel internals.
 .
 This package contains what you need for compiling sources that
 use this library in your own code.

Package: libusb-1.0-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: documentation for userspace USB programming
 Library for programming USB applications without the knowledge
 of Linux kernel internals.
 .
 This package contains the libusb 1.0 API reference manual in HTML format.

Package: libusb-1.0-0-udeb
Package-Type: udeb
Build-Profiles: <!noudeb>
Section: debian-installer
Architecture: hurd-any linux-any
Depends: ${shlibs:Depends}
Description: userspace USB programming library
 Library for programming USB applications without the knowledge
 of Linux kernel internals.
 .
 This is a minimal package for use in debian-installer.
